{% load static %}
<!---------------Start Footer------------->
<footer>
    <div class="footer-block">
        <div class="footer-vc-row">
            <div class="footer-colum">
                <div class="footer-colum-inner">
                    <div class="wpb-wrapper">
                        <div class="footer-image">
                            <figure class="footer-figure">
                                <div class="single-image">
                                    <img width="500" height="500" src="{% static 'img/clock.png' %}">
                                </div>
                            </figure>
                        </div>
                        <div class="footer-text">
                            <div class="wpb-wrapper">
                                <p>
                                    จัดส่งสินค้าทุกวันจันทร์ ถึง เสาร์ <br>
                                    เวลา 11:00 น. โดย Kerry Express
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-colum">
                <div class="footer-colum-inner">
                    <div class="wpb-wrapper">
                        <div class="footer-image">
                            <figure class="footer-figure">
                                <div class="single-image">
                                    <img width="500" height="500" src="{% static 'img/shipping-footer.png' %}">
                                </div>
                            </figure>
                        </div>
                        <div class="footer-text2">
                            <div class="wpb-wrapper">
                                <p>
                                    <strong> <br> ฟรี </strong>
                                    ค่าจัดส่ง ไม่จำกัดราคาขั้นต่ำ
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-colum">
                <div class="footer-colum-inner">
                    <div class="wpb-wrapper">
                        <div class="footer-image">
                            <figure class="footer-figure">
                                <a href="#" class="single-image">
                                    <img width="500" height="500" src="{% static 'img/insurance.png' %}">
                                </a>
                            </figure>
                        </div>
                        <div class="footer-text3">
                            <div class="wpb-wrapper">
                                <p>
                                    <br>
                                    สินค้า <strong> คุณภาพ </strong> ทุกชิ้น
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <div class="footer-2-row">
            <div class="footer-2-block">
                <span>แจ้งชำระเงินได้ตามช่องทางการสื่อสารนี้</span>
                <div class="footer-2-block-small"></div>
                <ul>
                    <li>
                        <a href="#">
                            <img width="183" height="183" src="{% static 'img/line.png' %}">
                        </a>
                        <a href="#">@LDpfashionshop</a>
                    </li>
                    <li>
                        <a href="#">
                            <img width="183" height="183" src="{% static 'img/face.png' %}">
                        </a>
                        <a href="#">LDpfashionshop</a>
                    </li>
                    <li>
                        <a href="#">
                            <img width="183" height="183" src="{% static 'img/chat.png' %}">
                        </a>
                        <a href="#">LDpfashionshop</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container clearfix">
            <div class="footer-primary">
                <div class="copyright-footer">
                    <p>Copyright &copy; 2019 by fashionshop.com All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!---------------End Footer------------->