{% load static %}
<!---------------Right Menu------------->
<div class="menu-right navbar-expand-md">
    <div class=" collapse navbar-collapse">
        <ul>
            <li>
                <a href="#" class="active">
                    <span><i class="fas fa-car"></i>
                        <br>
                        ตรวจสอบการจัดส่งสินค้า </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-comment"></i>
                        <br>
                        ติดต่อเรา </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fas fa-paper-plane"></i>
                        <br>
                        Facebook Massenger </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!---------------Right Menu------------->