{% block slidemenu %}
<div class="mfp-bg collapse navbar-collapse"  id="navbarResponsive" style="height: 2809px;"></div>
<div class="mfp-wrap collapse navbar-collapse"  id="navbarResponsive" tabindex="-1" style="top: 0px; position: absolute; height: 640px;">
    <div class="mfp-inline">
        <div class="mfp-container">
            <div class="main-menu">
                <div class="slider-menu">
                    <ul class="nav-slider">
                        <li class="nav-item">
                            <form method="GET" id="form-search" class="form-search navbar-form" action="{% url 'search' %}">
                                <input type="text" id="search" class="search" name="search" placeholder="ค้นหา…">
                                <button type="submit" class="button-search">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </li>
                        <li class="uber-menu-item">
                            <a href="{% url 'index' %}" class="active">
                                <span><i class="fas fa-home"></i> Home </span>
                            </a>
                        </li>
                        <li class="uber-menu-item">
                            <a href="{% url 'outer' %}">
                                <span><i class="fa fa-heartbeat"></i> OUTER</span>
                            </a>
                        </li>
                        <li class="uber-menu-item">
                            <a href="{% url 'top' %}">
                                <span><i class="fa fa-snowflake"></i> TOP</span>
                            </a>
                        </li>
                        <li class="uber-menu-item">
                            <a href="{% url 'dress' %}">
                                <span><i class="fa fa-moon"></i> DRESS</span>
                            </a>
                        </li>
                        <li class="uber-menu-item">
                            <a href="{% url 'pants' %}">
                                <span><i class="fas fa-shopping-bag"></i> PANTS</span>
                            </a>
                        </li>
                        <li class="cutomer">
                            <a href="#">บริการลูกค้า</a>
                        </li>
                        <li>
                            <a href="#" class="active">
                                <span><i class="fas fa-car"></i> ตรวจสอบการจัดส่งสินค้า </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><i class="fas fa-comment"></i> ติดต่อเรา </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span><i class="fas fa-paper-plane"></i> Facebook Massenger </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button title="Close (Esc)" type="button" class="mfp-close">
            <i class="fa fa-times"></i>
        </button>
    </div>
</div>
{% endblock%}