#header{
    background-color: rgba(241,241,241,1);
    color: #09262d;
}
#header a:link, #header a:visited{
    color: rgb(138, 138, 138);
}
#branding h1{
    color: #00adba;
}
#changelist-filter li.selected a {
    color: #00adba !important;
}
.module caption, .inline-group h2, .module h2{
    background-color: #ebe8e8;
    color: rgb(138, 138, 138);
}
a.section:link, a.section:visited{
    color: rgb(138, 138, 138);
}
a:link, a:visited{
    color: rgb(138, 138, 138);
}
div.breadcrumbs{
    background-color: #00adba;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: rgb(138, 138, 138);
}
.button.default, input[type=submit].default, .submit-row input.default{
    background: rgb(116, 113, 113);
}